@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&family=Poppins&family=Roboto+Mono:wght@300;500&family=Zen+Kurenaido&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(
            90deg,
    rgba(48, 16, 255, 1) 0%,
            rgba(100, 115, 255, 1) 100%
    );
    font-family: 'Zen Kurenaido', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 600px;
    min-height: 700px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}
header{
    background-color: transparent;
    height: 80px;
    margin-top:-32px;
}

header h1{
    font-family: 'Lemonada', cursive;
    padding: 12px 24px ;
    margin: 40px 0;
    color: #fff;
    font-size: 40px;
}
footer{
    height: 40px;
    text-align: center;
    color: gray;
    column-gap: 15px;

}
footer p{
    margin-bottom: 10px;
}

.form h2 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
    margin-bottom: 80px;
    font-family: 'Poppins', sans-serif;
}

.completed-btn {
    text-decoration: line-through;
    opacity: 0.4;
}

form {
    margin-bottom: 32px;
}

.todo-form{
    display: flex;
    justify-content: space-between;
}

.form-input{
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
    margin-left: 120px;
}

.filter-todos{
    height: 30px;
    width: 50px;
    border-radius: 4px;
    border: 2px solid #5d0cff;
    outline: none;
    background: transparent;
    color: #fff;
    margin-right: 78px;
    margin-left: 20px;
}

.options{
    background: transparent;
    color: #fff;
}
.arrow{
    color: white;
}
.form-input::placeholder {
    color: #e2e2e2;
}

.form-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
            90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
}

.todos-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todos-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
            90deg,
            rgba(255, 118, 20, 1) 0%,
            rgba(255, 84, 17, 1) 100%
    );
    padding: 16px;
    border-radius: 5px;
    width: 70%;
}

.todos-row:nth-child(4n + 1) {
    background: linear-gradient(
            90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%
    );
}

.todos-row:nth-child(4n + 2) {
    background: linear-gradient(
            90deg,
            rgba(255, 12, 241, 1) 0%,
            rgba(250, 0, 135, 1) 100%
    );
}

.todos-row:nth-child(4n + 3) {
    background: linear-gradient(
            90deg,
            rgba(20, 159, 255, 1) 0%,
            rgba(17, 122, 255, 1) 100%
    );
}

.todos-icons{
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    margin-left: -60px;
    margin-right: 20px;
}

.task-check-icon{
    color: #fff;
}

.task-delete-icon {
    margin-left: 10px;
    color: #fff;
}

.task-edit-icon {

}